
<!DOCTYPE html>
<html>
<head>
	<title>Acesso inicial</title>

	<meta charset="utf-8">

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='estilo.css') }}">

</head>

<body>

    <form class="form" action="" method="post">
        <div class="primeiro">
            <div class="titulo-top">

                <img class="login-fig" src="{{ url_for('static',filename='imagens/fig1.png') }}">
                <h2 class="texto-login">Faça seu Login</h2>
            </div>

            <div class="grupo1">
                <label>Usuário</label>
                <input type="text"  name="usuario" placeholder="Digite seu usuário" required >

            </div>

            <div class="grupo2">
                <label>Senha</label>
                <input type="password" name="senha" placeholder="Digite sua senha" required>
            </div>

            

            <div class="grupo3">
                <label><input type="checkbox">Lembre-me</label>
            </div>


            <div class="grupo4">
                <button type="submit" value ="Logar">ACESSAR </button>
            </div>  
        </div>
    </form>


    <footer class="rodape">
        <a href="{{ url_for('cadastro') }}">Não tenho cadastro</a>
    </footer>

    <script src="{{ url_for('static',filename='node_modules/popper.js/dist/umd/popper.js') }}"></script>             
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='estilo.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='sidemenu.css') }}">
    <script src="{{ url_for('static',filename='node_modules/jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='node_modules/jquery/dist/jquerymask/src/jquery.mask.js') }}"></script>
    <script src="{{ url_for('static',filename='node_modules/jquery/dist/main.js') }}"></script>
    
</body>
